* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1vw;
}

.container {
    column-gap: 5%;
    display: grid;
    grid-template-rows: auto auto repeat(6, 1fr) auto;
    grid-template-columns: 1fr 1fr 0.7fr 0.7fr;
    min-height: 100vh;
}

.block {
    padding: 2%;
}

.block1 {
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 10vh;
    grid-area: 1 / 1 / 1 / 5;
    display: grid;
    align-items: center;
    background-color: rgb(35, 214, 109);
}

.block7 {
    padding: 0;
    background-color: rgb(17, 61, 35);
    display: grid;
    align-items: center;
    grid-area: 9 / 1 / 9 / 5;
    min-height: 10vh;
    padding-left: 2%;
    padding-right: 2%;
    grid-template-columns: repeat(3, 1fr);
}

.mainMotto {
    grid-area: 1 / 3 / 1 / 3;
    justify-self: flex-end;
}

.block2 {
    grid-area: 2 / 2 / 9 / 2;
}

.block3 {
    padding: 0;
    grid-area: 2 / 1 / 9 / 2;
    display: grid;
    align-items: center;
    justify-content: center;
    min-width: 40%;
}

.block4 {
    grid-area: 2 / 3 / 2 / 5;
    background-color: rgb(90, 122, 84);
    display: grid;
    align-items: center;
    justify-items: center;
}

.block5 {
    grid-area: 3 / 3 / 9 / 3;
}

.block6 {
    grid-area: 3 / 4 / 9 / 4;
}

.block2, .block3, .block5, .block6 {
    background-color: rgb(71, 112, 69);
}

.block5, .block6, .block2 {
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;
    font-size: 1.5em;
}

.block5, .block6 {
    padding-left: 6%;
}

.block2 {
    align-items: center;
}

a {
    color: black;
}

h2 {
    font-size: 2em;
}

div > h3 {
    grid-area: 1 / 1 / 1 / 1;
}

div > ol {
    grid-area: 2 / 1 / 2 / 1;
}

nav > ul > li {
    margin: 14px;
}

nav {
    font-size: 1.5em;
    padding-bottom: 10%;
}

li {
    margin: 3%;
}

/* Ограничение ширины изображений внутри блоков */
.ability-images img,
.item-images img,
.block5 img {
    width: 160%;
    max-width: 80%;
    height: auto;
    display: block;
    object-fit: contain; /* Сохраняет пропорции изображения внутри контейнера */
}

.block6 img {
    width: 160%;
    max-width: 80%;
    height: auto;
    display: block;
    object-fit: contain; /* Сохраняет пропорции изображения внутри контейнера */
}

